html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { box-sizing: border-box;
       font-size: 62.5%;
       font-family: 'Poppins', sans-serif;
      }
       

*, *:before, *:after {box-sizing: inherit}

/*****************/
/* GENERAL STYLES*/
/*****************/

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}



/*********/
/* HEADER*/
/*********/


header {
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.3) 0%, rgba(50, 50, 50, 0.6) 50%, rgba(0, 0, 0, 0.7) 60%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0.95) 100%), url(./assets/mobil-delvac-product-lineup-screen-xl.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center; 
  background-position-y: 15%;
  height: 245px; 
  border-bottom: 1.5px solid yellow; 

}

h1 {
  font-size: 7rem;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: rgb(216, 18, 18);
  text-shadow: -0.25px -0.25px 0 black, 0.25px -0.25px 0 black, -0.25px 0.25px 0 black, 0.25px 0.25px 0 black;
  letter-spacing: 5px;
  margin: 0 auto;
  padding-top: 75px;
  padding-left: 0;
  padding-right: 0;
  transform: scaleY(1.6);
  font-family: 'Rubik Dirt', cursive;
  animation-timing-function: ease-in;
  animation-name: fade1;
  animation-duration: 1.5s;
}

.h1Section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@keyframes fade1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.h1_1 {
  color: rgba(209, 175, 25, 0.897)
}

/**************/
/* FORM STYLES*/
/**************/

form {
  display: flex;
  flex-direction: column;
  padding: 2px;
  
}

input, select {
  border: 1px solid rgb(209, 176, 27);
  border-radius: 5px;
}

.formSection {
  background-image: linear-gradient(to bottom, rgba(50, 50, 50, 0.8) 0%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0.8) 100%), url(./assets/pcoty2020-dw-burnett-3-1605296622.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position-x: center;
  background-position-y: 10%;
}

.wrapper2 {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  background-color:rgba(0, 0, 0, 0.75); 
  padding: 35px;
}

fieldset {
  border: none;
  color: white; 
  border: 2px solid white;
}

label, input, select {
  margin: 2.5px 0;
  font-size: 2.5rem;
}

label {
  color: white;
  text-shadow: -0.5px -0.5px 0 black, 0.5px -0.5px 0 black, -0.5px 0.5px 0 black, 0.5px 0.5px 0 black;
  letter-spacing: 0.5px;
  margin-top: 10px;
  margin-bottom: 0;
}

.buttonContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.submitButton, .resetButton {
  width: 20%;
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  margin: 15px;
  padding: 5px; 
  border: 2px solid black;
  cursor: pointer;
  border-radius: 10px;
}

.submitButton {
 background-color: rgba(8, 141, 19, 0.829);
}

.resetButton {
  background-color: rgba(255, 0, 0, 0.753);
}

.submitButton:active,
.resetButton:active {
  animation: push 0.1s ease-in-out;
}


@keyframes push {
  0% {transform: scale(1);}
  50% {transform: scale(0.8);}
  100% {transform: scale(1);}
}

/*****************/
/* ANSWER STYLES*/
/*****************/

.answerSection {
  background-color: rgb(209, 176, 27);
  height: 335px;
}

.answer {
  width: 100%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 335px;
  padding: 5px;
}

.answerExplanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;  
}

.nope, .yup, .huh {
  font-size: 17rem;
  text-transform: uppercase;
  width: 30%;
  text-align: right;
  font-family: 'Rubik Dirt', cursive;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  animation: change 0.2s ease;
  margin-right: 75px;
}

@keyframes change {
  0% {opacity: 0;}
  50% {opacity: 0.5;}
  100% {opacity: 1;}
}

.nope {
  color: green;
}

.yup {
  color: rgba(255, 0, 0, 0.753);
}

.huh {
  color: rgb(50, 50, 241);
}

.remaining {
  margin: 0;
  padding-right: 10px;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  text-shadow: -0.5px -0.5px 0 whitesmoke, 0.5px -0.5px 0 whitesmoke, -0.5px 0.5px 0 whitesmoke, 0.5px 0.5px 0 whitesmoke;
  white-space: pre-wrap;
}

.nextChange {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
  font-size: 5rem;
  color: rgba(235, 45, 45, 0.973);
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

 .remaining, .nextChange {
  letter-spacing: 0.5px;
  text-align: left;
}
    
/****************/
/* MEDIA QUERIES*/
/****************/

@media (max-width: 1330px) {

  h1 {
  font-size: 5rem;
  }

}

@media (max-width: 1200px) {

  .answerSection {
    height: auto;
    padding: 0;
  }

  .answer {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .answerExplanation {
    width: 100%;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }

  .remaining, .nextChange {
    letter-spacing: 0.5px;
    text-align: center;
    margin-bottom: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .remaining {
    margin-top: auto;
  }

  .nextChange {
    margin-top: 10px;
  }

  .nope, .yup, .huh {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (max-width: 1000px) {
  h1 {
    font-size: 3.8rem;
  }

  .nope, .yup, .huh {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
}


@media (max-width: 800px) {

  h1 {
    font-size: 3.2rem;
    line-height: 1;
  }

  .buttonContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 100%;
  }

  .submitButton, .resetButton {
    width: 100%;
    padding: 5px;
    margin: 5px auto;
  }

  form {
    padding-bottom: 10px;
  }

  label, input, select, .submitButton, .resetButton {
    font-size: 2rem;
  }

  label {
    margin-bottom: 0px;
    margin-top: 10px;
  }
}

@media (max-width: 600px) {
  .nope, .yup, .huh {
    font-size: 10rem;
  }

  .nextChange {
    font-size: 5rem;
    padding: 10px;
  }
}